node_modules
.env
.env.local
backend/.env
uploads/
logs/
backend/uploads/
backend/logs/
dist/
build/
.DS_Store
*.log
.vscode
.idea
*.pem
coverage/
.git
redis-stable/
redis-stable.tar.gz
mongodb-macos-x86_64-7.0.5.tgz
